@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2><a asp-page="./Bets">View Bets</a></h2>
    <h2><a asp-page="./NewBet">New Bet</a></h2>
    <h2><a asp-page="./Odds">Odds</a></h2>
</div>
