@page
@model MyApp.Namespace.NewBetModel
@{
}

<h1>New Bet</h1>

<form method="post" class="w-50">
    <div class="my-3">
        <label asp-for="Bet.Name" class="form-label">Your Name</label>
        <input asp-for="Bet.Name" class="form-control"/>
        <span asp-validation-for="Bet.Name"></span>
    </div>
    <div class="my-3">
        <label asp-for="Bet.Horse" class="form-label">Horse Number</label>
        <input asp-for="Bet.Horse" class="form-control"/>
        <span asp-validation-for="Bet.Horse"></span>
    </div>
    <div class="my-3">
        <label asp-for="Bet.BetType" class="form-label"></label>
        <select asp-for="Bet.BetType" asp-items="Model.BetTypes" class="form-select">Bet Type</select>
        <span asp-validation-for="Bet.BetType"></span>
    </div>
    <div class="my-3">
        <label asp-for="Bet.Amount" class="form-label"></label>
        <input asp-for="Bet.Amount" class="form-control"/>
        <span asp-validation-for="Bet.Amount"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
