@page
@using ParimutuelCalculator
@model MyApp.Namespace.OddsModel
@{
}
<head>
    <meta http-equiv="refresh" content="10">
</head>

<h1>Odds</h1>

<h2>Pool Totals</h2>

<div class="container">
    <div class="row">
        <div>
            Win: $@Model.Race.WinTotal
        </div>
        <div>
            Place: $@Model.Race.PlaceTotal
        </div>
        <div>
            Show: $@Model.Race.ShowTotal
        </div>
    </div>
    <div class="row py-5">
        @foreach (var horse in Model.Race.Horses)
        {
            <div class="col my-4">
                <div class="card h-100 text-center p-5">
                    <h4>Horse @horse.HorseNumber</h4>
                    @{ double winOdds = horse.CalculateOdds(Model.Race.WinTotal, BetType.win); }
                    <p>Win Odds:</p> 
                    <p><b>@BettingMethods.DoubleToFraction(winOdds)</b></p>
                    @{ double placeOdds = horse.CalculateOdds(Model.Race.PlaceTotal, BetType.place); }
                    <p>Place Odds:</p> 
                    <p><b>@BettingMethods.DoubleToFraction(placeOdds)</b></p>
                    @{ double showOdds = horse.CalculateOdds(Model.Race.ShowTotal, BetType.show); }
                    <p>Show Odds:</p> 
                    <p><b>@BettingMethods.DoubleToFraction(showOdds)</b></p>
                </div>
            </div>
        }
    </div>
</div>